page-appointment {
  .tip{
    line-height: 40px;
    font-size: 30px;
    color:#969696;
    margin:8% 0px 8% 8%;
  }

  ion-list{
    padding-left:2%;
    padding-right:6%;
  }

  .buttonPart {
    width:100%;
    text-align: center;
    position: absolute;
//后期如果加入了文本框导致按钮上移则使用margin-top
    top:86%;

    .submit {
      width: 86%;
      font-size: 18px;
    }
  }


}
