page-forgot-password {
  //设置toolbar背景色以及没有阴影 以及返回图标的颜色
  .toolbar-background-md {
    background: #fff !important;
  }

  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    content: none !important;
  }

  ion-icon{
    color:#969696;
  }
/****************************************/
  ion-label{
    ion-icon{
      font-size:26px;
    }
  }
  .input {
    padding-left:4%;
    padding-right:8%;
  }
  .title {
    height: 26%;
    text-align: center;
    padding: 4% 8% 0 8%;
    .title1{
      line-height: 45px;
      font-size: 18px;
      font-weight: bold;
    }
    .title2{
      line-height: 25px;
      font-size: 16px;
      color:#6A6A6A;
    }
  }
  .buttonPart {
    width: 100%;
    text-align: center;
    button {
      font-size: 18px;
      margin-top: 8%;
      margin-bottom: 6%;
      width: 86%;
    }
  }
  .bottomPart {
    margin-top: 65%;
    width: 100%;
    text-align: center;
    color: #959595;
    a {
      text-decoration: none;
      color: #4D65D7;
    }
  }

}
